.hero-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 30px;
    flex-wrap: wrap; /* Permite que os itens se ajustem nas telas menores */
}

.hero-content {
    flex: 1;
    color: #4a7c6e;
}

.hero-content h2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 6rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.hero-content p {
    width: 100%;
    color: #4a7c6e;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    margin-left: 20px;
    margin-bottom: 100px;
}

.hero-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}

.hero-img > div {
    display: flex;
    align-items: flex-end;
    gap: 1.6rem;
}

/* Responsividade para telas menores */
@media (max-width: 1025px) {
    .hero-container {
        margin-left: 10px;
        flex-direction: column; /* Coloca o conteúdo e imagem em coluna em telas menores */
        align-items: center;
    }

    .hero-content {
        text-align: center; /* Centraliza o texto */
        margin-bottom: 2rem;
    }

    .hero-img {
        margin-top: 2rem;
        gap: 2rem; /* Ajusta o espaçamento entre as imagens */
    }

    .hero-content h2 {
        font-size: 3rem; /* Ajuste o tamanho da fonte */
        line-height: 4rem;
    }

    .hero-content p {
        font-size: 0.9rem; /* Ajuste o tamanho da fonte do parágrafo */
    }
}

@media (max-width: 768px) {
    .hero-container {
        margin-left: 5px;
    }

    .hero-content h2 {
        font-size: 2.5rem; /* Ajuste o tamanho da fonte */
        line-height: 3.5rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        margin-left: 0; /* Remove a margem esquerda */
        margin-bottom: 80px;
    }

    .hero-img {
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    .hero-container {
        margin-left: 0;
        flex-direction: column; /* Certifica-se de que o conteúdo seja empilhado verticalmente */
    }

    .hero-content h2 {
        font-size: 2rem; /* Ajusta o tamanho da fonte para telas menores */
        line-height: 3rem;
        text-align: center; /* Centraliza o título */
    }

    .hero-content p {
        font-size: 0.8rem; /* Reduz o tamanho do texto */
        margin-left: 0;
        margin-bottom: 60px; /* Ajusta a margem inferior */
    }

    .hero-img {
        margin-top: 1rem;
        gap: 1rem; /* Ajusta o espaço entre as imagens */
    }
}

@media (max-width: 425px) {
    .hero-content h2 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .hero-content p {
        font-size: 0.8rem;
    }

    .hero-img {
        gap: 1rem;
    }
}

@media (max-width: 375px) {
    .hero-content h2 {
        font-size: 1.7rem;
        line-height: 2.3rem;
    }

    .hero-content p {
        font-size: 0.8rem;
    }

    .hero-img {
        gap: 1rem;
    }
}

@media (max-width: 320px) {
    .hero-content h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .hero-content p {
        font-size: 0.75rem;
    }

    .hero-img {
        gap: 1rem;
    }
}

