.container {
  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}

header {
  background-color: #e2f0e9;
  padding: 0.5rem;
  color: #4a7c6e;
}

header h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.footer {
  font-size: 0.8rem;
  text-align: center;
  background: #f1fdf9;
  padding: 0rem;
  margin-top: 100px;
  color: #4a7c6e;
}

.footer img {
  width: 70px;
}

/* Responsividade */
@media (max-width: 1025px) {
  header h2 {
    font-size: 1.8rem; 
  }

  .footer {
    font-size: 0.9rem; 
    padding: 1rem; 
  }

  .footer img {
    width: 60px; 
  }
}

@media (max-width: 768px) {
  header h2 {
    font-size: 1.6rem;
  }

  .footer {
    font-size: 0.85rem;
    padding: 1.2rem;
  }

  .footer img {
    width: 50px;
  }
}

@media (max-width: 480px) {
  header h2 {
    font-size: 1.4rem; 
  }

  .footer {
    font-size: 0.8rem;
    padding: 1.5rem;
  }

  .footer img {
    width: 40px;
  }
}

@media (max-width: 425px) {
  header h2 {
    font-size: 1.3rem;
  }

  .footer {
    font-size: 0.75rem;
    padding: 1.8rem;
  }

  .footer img {
    width: 35px;
  }
}

@media (max-width: 375px) {
  header h2 {
    font-size: 1.2rem;
  }

  .footer {
    font-size: 0.7rem;
    padding: 2rem;
  }

  .footer img {
    width: 30px;
  }
}

@media (max-width: 320px) {
  header h2 {
    font-size: 1.1rem;
  }

  .footer {
    font-size: 0.65rem;
    padding: 2.2rem;
  }

  .footer img {
    width: 25px;
  }
}
